body {
  font-family: sans-serif;
  font-size: 18px;
}

.BottomSpacing {
  margin-bottom: 0.8rem;
}

.VerticalSpacing {
  margin: 0.8rem 0;
}

.HorizontalTextSpacing {
  margin: 0 0.4rem;
}

.HairlineText {
  color: #ccc;
}

.AirportInput {
  width: 5rem;
}

.VisibilityHidden {
  visibility: hidden;
}
